html {
    font-size: 16px;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  h1 {
    font-weight: 100;
    font-style: italic;
  }
  
  /* 
    Font size unit examples:
    px
    em -> se raporteaza la font-size-ul elementului parinte
    rem -> se raporteaza la root (body) font size 
  */
  
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  
  .card {
    width: 100px;
    /* height: 100px; */
    border: 1px solid deeppink;
  }
  
  .truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  
    /* word-break: break-all */
  }
  
  /* 
    Possible color value examples:
    - color name
    - hexa
    - rgb
    - hsl
  */
  
  .paragraph {
    color: rgba(30, 255, 0, 0.5);
    /* Hex values 0 - 9 - A, B, C, D, E, F */
    color: #ffdd10;
    color: hsl(160, 100, 50, 0.5);
  }
  
  .color-block {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  
  .color-block:nth-child(1) {
    background-color: hsla(160, 80%, 30%, 0.1);
  }
  
  .color-block:nth-child(2) {
    background-color: hsl(160, 70%, 30%);
  }
  
  .color-block:nth-child(3) {
    background-color: hsl(160, 60%, 30%);
  }
  
  .color-block:nth-child(4) {
    background-color: hsl(160, 50%, 30%);
  }
  
  .color-block:nth-child(5) {
    background-color: hsl(160, 40%, 30%);
  }
  
  .color-block:nth-child(6) {
    background: linear-gradient(to right, red, hsl(160, 40%, 30%), green, blue, purple, deeppink);
  }
  
  .color-block:nth-child(7) {
    background: radial-gradient(circle at top, red, hsl(160, 40%, 30%), green, blue, purple, deeppink);
  }
  
  .color-block:nth-child(8) {
    background: conic-gradient(red, blue, yellow);
  }
  
  @media screen and (min-width: 500px) {
    html {
      font-size: 20px;
    }
  }
  
  @media screen and (min-width: 1000px) {
    html {
      font-size: 16px;
    }
  }