:root {
    --box-size: 200px;
  }
  
  /* Mobil first design */
  
  body {
    background-image: url("images/topography.svg"),
      linear-gradient(110deg, #f93d66, #6d47d9);
    background-size: 340px, auto;
  }
  
  .albums {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 25px;
    margin: 30px;
  }
  
  .album {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 25px;
    gap: 20px;
  }
  
  .album__artwork {
    width: 100%;
  }
  
  .box-container {
    display: flex;
  }
  
  .box {
    flex: 1;
    /* width: var(--box-size);
    height: var(--box-size); */
    border: 2px solid red;
  }
  
  .grid {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
  h2 {
    color: white;
  }
  
  p {
    color: #f4cad7;
  }
  
  @media screen and (min-width: 550px) {
    .album {
      grid-template-columns: 200px 1fr;
    };
  }